.production-tab {
    margin-top: 20px;
  }
  
  .production-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
  }
  
  .production-table th,
  .production-table td {
    padding: 8px;
    text-align: center;
  }
  
  .production-table th {
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
  
  .production-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .total-row {
    font-weight: bold;
  }

  .production-tab {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .production-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .production-chart {
    width: 50%;
    max-width: 1400px;
    margin-bottom: 20px;
  }
  
    
  @media screen and (max-width: 600px) {
    .production-chart,
    .production-table {
      width: 95%;
    }
  }

  

  
  
  